<IfModule mod_rewrite.c>

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule .* - [L]

RewriteRule ^([_A-Za-z0-9-]+)/?$ index.php?application=$1 [NC,QSA,L]
RewriteRule ^([_A-Za-z0-9-]+)\/([_A-Za-z0-9-]+)/?$ index.php?application=$1&action=$2 [NC,QSA,L]
RewriteRule ^([_A-Za-z0-9-]+)\/([_A-Za-z0-9-]+)\/([_A-Za-z0-9-]+)/?$ index.php?application=$1&action=$2&var_a=$3 [NC,QSA,L]
RewriteRule ^([_A-Za-z0-9-]+)\/([_A-Za-z0-9-]+)\/([_A-Za-z0-9-]+)\/([_A-Za-z0-9-]+)/?$ index.php?application=$1&action=$2&var_a=$3&var_b=$4 [NC,QSA,L]
RewriteRule ^([_A-Za-z0-9-]+)\/([_A-Za-z0-9-]+)\/([_A-Za-z0-9-]+)\/([_A-Za-z0-9-]+)\/([_A-Za-z0-9-]+)/?$ index.php?application=$1&action=$2&var_a=$3&var_b=$4&var_c=$5 [NC,QSA,L]


</IfModule>

